.m-0 {
  margin: 0;
}

.m-02 {
  margin: 0.2rem;
}

.m-10 {
  margin: 1rem;
}
.m-05 {
  margin: 0.5rem;
}

.hover-pointer:hover {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hover-bright:hover {
  filter: contrast(175%);
}

.bright {
  filter: contrast(175%);
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 1rem;
}

.p-03 {
  padding: 0.3rem;
}

.p-05 {
  padding: 0.5rem;
}

.px-10 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-8 {
  font-size: 0.8rem;
}

.text-9 {
  font-size: 0.9rem;
}

.text-10 {
  font-size: 1rem;
}

.text-11 {
  font-size: 1.1rem;
}

.text-12 {
  font-size: 1.2rem;
}

.text-bold {
  font-weight: bold;
}

.no-outline {
  outline: none;
}

.border-none {
  border: none;
}

.border-1 {
  border: 1px var(--gray02) solid;
}

.border-solid {
  border-style: solid;
}

.border-00625 {
  border-width: 0.0625rem;
}

.border-gray-05 {
  border-color: var(--gray05);
}

.border-green-05 {
  border-color: var(--green05);
}

.border-blue-05 {
  border-color: var(--blue05);
}

.border-red-05 {
  border-color: var(--red05);
}

.border-orange-05 {
  border-color: var(--orange05);
}

.border-2 {
  border: 2px var(--gray02) solid;
}

.round-0375 {
  border-radius: 0.375rem;
}

.round-05 {
  border-radius: 0.5rem;
}

.round-10 {
  border-radius: 1rem;
}

.color-gray-00 {
  color: var(--gray00);
}
.color-gray-01 {
  color: var(--gray01);
}
.color-gray-02 {
  color: var(--gray02);
}
.color-gray-03 {
  color: var(--gray03);
}
.color-gray-04 {
  color: var(--gray04);
}
.color-gray-05 {
  color: var(--gray05);
}
.color-gray-06 {
  color: var(--gray06);
}
.color-gray-07 {
  color: var(--gray07);
}
.color-gray-08 {
  color: var(--gray08);
}
.color-gray-09 {
  color: var(--gray09);
}
.color-gray-10 {
  color: var(--gray10);
}

.color-green-00 {
  color: var(--green00);
}
.color-green-01 {
  color: var(--green01);
}
.color-green-02 {
  color: var(--green02);
}
.color-green-03 {
  color: var(--green03);
}
.color-green-04 {
  color: var(--green04);
}
.color-green-05 {
  color: var(--green05);
}
.color-green-06 {
  color: var(--green06);
}
.color-green-07 {
  color: var(--green07);
}
.color-green-08 {
  color: var(--green08);
}
.color-green-09 {
  color: var(--green09);
}
.color-green-10 {
  color: var(--green10);
}

.color-blue-00 {
  color: var(--blue00);
}
.color-blue-01 {
  color: var(--blue01);
}
.color-blue-02 {
  color: var(--blue02);
}
.color-blue-03 {
  color: var(--blue03);
}
.color-blue-04 {
  color: var(--blue04);
}
.color-blue-05 {
  color: var(--blue05);
}
.color-blue-06 {
  color: var(--blue06);
}
.color-blue-07 {
  color: var(--blue07);
}
.color-blue-08 {
  color: var(--blue08);
}
.color-blue-09 {
  color: var(--blue09);
}
.color-blue-10 {
  color: var(--blue10);
}

.color-red-00 {
  color: var(--red00);
}
.color-red-01 {
  color: var(--red01);
}
.color-red-02 {
  color: var(--red02);
}
.color-red-03 {
  color: var(--red03);
}
.color-red-04 {
  color: var(--red04);
}
.color-red-05 {
  color: var(--red05);
}
.color-red-06 {
  color: var(--red06);
}
.color-red-07 {
  color: var(--red07);
}
.color-red-08 {
  color: var(--red08);
}
.color-red-09 {
  color: var(--red09);
}
.color-red-10 {
  color: var(--red10);
}

.color-orange-00 {
  color: var(--orange00);
}
.color-orange-01 {
  color: var(--orange01);
}
.color-orange-02 {
  color: var(--orange02);
}
.color-orange-03 {
  color: var(--orange03);
}
.color-orange-04 {
  color: var(--orange04);
}
.color-orange-05 {
  color: var(--orange05);
}
.color-orange-06 {
  color: var(--orange06);
}
.color-orange-07 {
  color: var(--orange07);
}
.color-orange-08 {
  color: var(--orange08);
}
.color-orange-09 {
  color: var(--orange09);
}
.color-orange-10 {
  color: var(--orange10);
}

.bg-gray-00 {
  background-color: var(--gray00);
}
.bg-gray-01 {
  background-color: var(--gray01);
}
.bg-gray-02 {
  background-color: var(--gray02);
}
.bg-gray-03 {
  background-color: var(--gray03);
}
.bg-gray-04 {
  background-color: var(--gray04);
}
.bg-gray-05 {
  background-color: var(--gray05);
}
.bg-gray-06 {
  background-color: var(--gray06);
}
.bg-gray-07 {
  background-color: var(--gray07);
}
.bg-gray-08 {
  background-color: var(--gray08);
}
.bg-gray-09 {
  background-color: var(--gray09);
}
.bg-gray-10 {
  background-color: var(--gray10);
}

.bg-gray-05-rgba-00 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-gray-05-rgba-05 {
  background-color: rgba(128, 128, 128, 0.5);
}

.bg-red-00 {
  background-color: var(--red00);
}
.bg-red-01 {
  background-color: var(--red01);
}
.bg-red-02 {
  background-color: var(--red02);
}
.bg-red-03 {
  background-color: var(--red03);
}
.bg-red-04 {
  background-color: var(--red04);
}
.bg-red-05 {
  background-color: var(--red05);
}
.bg-red-06 {
  background-color: var(--red06);
}
.bg-red-07 {
  background-color: var(--red07);
}
.bg-red-08 {
  background-color: var(--red08);
}
.bg-red-09 {
  background-color: var(--red09);
}
.bg-red-10 {
  background-color: var(--red10);
}

.bg-blue-00 {
  background-color: var(--blue00);
}
.bg-blue-01 {
  background-color: var(--blue01);
}
.bg-blue-02 {
  background-color: var(--blue02);
}
.bg-blue-03 {
  background-color: var(--blue03);
}
.bg-blue-04 {
  background-color: var(--blue04);
}
.bg-blue-05 {
  background-color: var(--blue05);
}
.bg-blue-06 {
  background-color: var(--blue06);
}
.bg-blue-07 {
  background-color: var(--blue07);
}
.bg-blue-08 {
  background-color: var(--blue08);
}
.bg-blue-09 {
  background-color: var(--blue09);
}
.bg-blue-10 {
  background-color: var(--blue10);
}

.bg-green-00 {
  background-color: var(--green00);
}
.bg-green-01 {
  background-color: var(--green01);
}
.bg-green-02 {
  background-color: var(--green02);
}
.bg-green-03 {
  background-color: var(--green03);
}
.bg-green-04 {
  background-color: var(--green04);
}
.bg-green-05 {
  background-color: var(--green05);
}
.bg-green-06 {
  background-color: var(--green06);
}
.bg-green-07 {
  background-color: var(--green07);
}
.bg-green-08 {
  background-color: var(--green08);
}
.bg-green-09 {
  background-color: var(--green09);
}
.bg-green-10 {
  background-color: var(--green10);
}

.bg-orange-00 {
  background-color: var(--orange00);
}
.bg-orange-01 {
  background-color: var(--orange01);
}
.bg-orange-02 {
  background-color: var(--orange02);
}
.bg-orange-04 {
  background-color: var(--orange04);
}
.bg-orange-05 {
  background-color: var(--orange05);
}
.bg-orange-06 {
  background-color: var(--orange06);
}
.bg-orange-07 {
  background-color: var(--orange07);
}
.bg-orange-08 {
  background-color: var(--orange08);
}
.bg-orange-09 {
  background-color: var(--orange09);
}
.bg-orange-10 {
  background-color: var(--orange10);
}

.bg-transparent {
  background-color: transparent;
}

.trans-03 {
  transition: 0.3s;
}

.shade {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.bg-seagreen {
  background-color: lightseagreen;
}

.fixed {
  position: fixed;
}

.w-0 {
  width: 0;
}

.h-0 {
  height: 0;
}

.w-full {
  width: 100%;
}

.w-100 {
  width: 1rem;
}
.w-200 {
  width: 2rem;
}

.h-full {
  height: 100%;
}

.h-100 {
  height: 1rem;
}

.h-175 {
  height: 1.75rem;
}

.h-200 {
  height: 2rem;
}

.h-225 {
  height: 2.25rem;
}

.h-275 {
  height: 2.75rem;
}

.h-325 {
  height: 3.25rem;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.b--200 {
  bottom: -2rem;
}

.b--300 {
  bottom: -3rem;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.list-style-none {
  list-style: none;
}

.reverse-x {
  transform: scaleX(-1);
}

.reverse-y {
  transform: scaleY(-1);
}

.rotate-z-90 {
  transform: rotateZ(90deg);
}

.rotate-z-270 {
  transform: rotateZ(270deg);
}

.flex {
  display: flex;
}

.flex-center-v {
  align-items: center;
}

.flex-bottom-v {
  align-items: flex-end;
}

.flex-center-h {
  justify-content: center;
}

.relative {
  position: relative;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.opacity-0 {
  opacity: 0;
}

.opacity-03 {
  opacity: 0.3;
}

.opacity-05 {
  opacity: 0.5;
}

.opacity-07 {
  opacity: 0.7;
}

.opacity-1 {
  opacity: 1;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
